@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playfair+Display&display=swap');
:root{
    --nav-color--: #C7C7C7;
    --nav-hover--: #FFFFFF;
}
html, body, * {margin: 0; padding: 0;}
header{height: 80px;background-color:#012D63; }
.navText{color: var(--nav-color--);font-family: 'Roboto';font-style: normal;font-weight: 300;font-size: 24px;line-height: 28px;margin: 0;display: inline;}
ul{list-style: none;/*display: inline;*/}
a{text-decoration: none;}
li{display: inline;}
.logoLink{}
.navText:hover{color: var(--nav-hover--);}
.hero{}
.visually-hidden {position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}
/* .sthree{background-image: url(./img/Group\ 7\ \(1\)\ 1.jpg);background-repeat: no-repeat;background-size: cover;} */
.sthree{  width: 1440px;height: 600px;background-image: url(./img/Group\ 7\ \(1\)\ 1.jpg);background-repeat: no-repeat;background-size: cover}